.panel {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.panel__nav {

}

.panel__nav__list{
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-light-color);
  
    
}

.panel__nav__list-item {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: var(--secondary-light-color);
    cursor: pointer;
    position: relative;
    
}



.panel__nav__list-item > div{
    font-size: 1.7rem;
    color: var(--dark-color);
}


.panel__nav__list-item-active > div{
   color: var(--white-color);

}
.panel__nav__list-item-active{

    background-color: var(--primary-color);

}



.panel__nav__list-item-active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color:inherit;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}





.panel__news {
    margin-top: 1rem;
}

.panel__news__list {
    display: flex;
    flex-direction: column;
}

.panel__news__list-item {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-light-color);
    padding: .5rem 1.2rem;

}

.panel__news__list-item:not(:first-of-type) {
    margin-top: 1rem;

}

.panel__news__list-item-desc {
    display: flex;
}

.panel__news__list-item-desc > a{
    
}

.panel__news__list-item-desc > a > p{
    font-size: 1.8rem;
}

.panel__news__list-item-type {

    display: flex;

}

.panel__news__list-item-type > a{
    
}

.panel__news__list-item-type > a > span{
    font-size: 1.6rem;
    color: var(--light-dark-color);
    position: relative;
}

.panel__news__list-item-type > a > span:not(:first-of-type){
    margin-right: .8rem;
}


.panel__news__list-item-type > a > span:not(:first-of-type)::before{
    content: '';
    background-color: var(--primary-color);
    position: absolute;
    width: 1.4rem;
    height: .1rem;
    transform: rotate(90deg);
    right: -1.2rem;
    bottom: 45%;
}


.panel-group {
    margin-top: 1rem;
}

.panel-group__heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    background-color: var(--secondary-light-color);
    align-items: center;
    border-right: var(--additional-btn-border);
    cursor: pointer;
}




.panel-group__heading > h5{
    color: var(--light-dark-color);
    font-size: 2.2rem;
}

.panel-group__heading > button{
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

.panel-group__heading > button > img{ 
    width: 100%;
    height: 100%;
   
}

.panel-group__content {
    overflow: hidden;
   
}

.panel-group__content__list {
    display: flex;
    flex-direction: column;
   
}




.panel-group__content__list-item {
    display: flex;
    flex-direction: column;
    border: var(--secondary-border);
    margin-top: 1rem;
}

.panel-group__content__list-item > a{
    padding: .5rem 1.2rem;

}

.panel-group__content__list-item > a > p {
    font-size: 1.8rem;
    line-height: 1.2;
}


.panel-group__button {
    margin-top: 1rem;
}

.panel-group__button > button{
    width: 100%;
    padding: 1.2rem 1rem;
    border: var(--secondary-border);
   
    cursor: pointer;
}

.panel-group__button >button > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.panel-group__button > button > a > span{
    color: var(--primary-color);
    font-size: 1.6rem;
}