@media (min-width: 768px){
    .container {
        width: 750px;
    }
}


@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



@media only screen and (max-width:1190px) {
    html {
        font-size: 50%;
    }
}

@media only screen and (max-width:1024px) {
    html {
        font-size: 37.5%;
    }
}


@media only screen and (max-width:760px) {
    html {
        font-size: 43.75%;
    }
    .panel {
        display: none;
    }
    .news {
        width: 100%;
    }

    .header__navbar {
        overflow-x: scroll;
    }

    /* .header__navbar::-webkit-scrollbar {
        width: 0px;  
        background: transparent;  
    }
    
    .header__navbar::-webkit-scrollbar-thumb {
        background: var(--white-color);
    } */
    .navbar__list {
        display: -webkit-inline-box;
    }

    .header__logo {
        background-color: var(--secondary-light-color);
    }
    .header__logo > .container{
        margin: auto 0;
    }


    .news__list__wrapper-item > a > img {
        height: 18rem;
     
    }
}


@media only screen and (max-width:580px) {
    .news__list__wrapper {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .news__list__wrapper-item {
        margin: 1rem 1rem 0 1rem;
    }
    .news__list__wrapper-item {
        width: 40%;
    }
}


@media only screen and (max-width:520px) {
    html {
        font-size: 37.5%;
    }
    .news__main-news__box-desc > h3 {
        font-size: 2.5rem;
    }
}


@media only screen and (max-width:440px) {
    html {
        font-size: 31.25%;
    }
}



@media only screen and (max-width:360px) {
    html {
        font-size: 25%;
    }
}